APP_TITLE=Приложение для Благотворительного фонда поддержки котиков QRKot
DATABASE_URL=sqlite+aiosqlite:///./cat_charity_foundation.db
SECRET=fastapi_secret_key_for_users_tokens
FIRST_SUPERUSER_EMAIL=email_for_superuser
FIRST_SUPERUSER_PASSWORD=password_for_superuser
TYPE=google_type_accaunt
PROJECT_ID=project_id
PRIVATE_KEY_ID=private_key_id
PRIVATE_KEY=private_key
CLIENT_EMAIL=client_email
CLIENT_ID=client_id
AUTH_URI=https://accounts.google.com/o/oauth2/auth
TOKEN_URI=https://oauth2.googleapis.com/token
AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
CLIENT_X509_CERT_URL=https://www.googleapis.com/robot/v1/metadata/x509/...
UNIVERSE_DOMAIN=googleapis.com
EMAIL=user_email